@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: theme('colors.background-light');
    color: theme('colors.text-main');
  }

  .dark body {
    background-color: theme('colors.background-dark');
    color: white;
  }
}